@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: v-sans, sans-serif, system-ui;
  --font-mono: v-mono, monospace;
}

body {
  @apply font-normal text-base leading-relaxed tracking-wide h-fit;
  font-family: var(--font-primary);
}

h1 {
  @apply font-extrabold text-xl leading-10 tracking-wider h-fit;
  font-family: var(--font-primary);
}

h3 {
  @apply font-bold text-lg leading-8 tracking-wider h-fit;
  font-family: var(--font-primary);
}

h4 {
  @apply font-bold text-base leading-6 tracking-wider h-fit;
  font-family: var(--font-primary);
}

p {
  @apply text-base leading-7 tracking-wider h-fit;
  font-family: var(--font-primary);
}

span {
  @apply font-medium text-sm leading-4 tracking-wider h-fit;
  font-family: var(--font-primary);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
